<%- include('partials/header') %>

<body>
    <h1>Compose</h1>
    <form class="form-group" action="/compose" method="post">
        <div class="form-group">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="postTitle">
            <label class="form-label">Post</label>
            <textarea class="form-control" name="postContent" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Publish</button>
    </form>
</body>

<%- include('partials/footer') %>