<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs') %>
    <body>
        <h1>Home</h1>
        
        <p><%= startingContent %> </p>
    </body>
    
    
    <%- include('footer.ejs') %>
</html>